* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.left {
    flex: 1;
    height: 100%;
    background-image: url(../images/green-and-white-marbled-coloring.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100%;
    padding: 20px 40px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
}

.container-formulario {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titulo {
    display: flex;
    justify-content: flex-start;
}

.titulo h1 {
    font-size: 30px;
    font-weight: bold;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

.formulario form label {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.formulario input {
    padding: 8px;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.334);
    outline: 0;
}

.password {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.334);
    padding: 0 8px 0 0;
}

.password i {
    cursor: pointer;
}

.password input {
    flex: 1;
    border: 0;
}

.formulario input[type=submit] {
    margin-top: 1px;
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 0px;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.formulario input[type=submit]:hover {
    background-color: #1d1d1d;
}

.login {
    font-size: 14px;
    margin-top: 20px;
}

.login a {
    color: #46A66D;
}

.error {
    background-color: #ff0000;
    color: #fff;
    padding: 3px 5px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}